<h2 class="main__title">Pokemones Iniciales</h2>
<div class="card-container">
  <article class="card" style="width: 18rem;">
    <img src="assets/img/charmander.png" class="card-img-top" alt="...">
    <section class="card-body">
      <h5 class="card-title">Charmander</h5>
      <p class="card-text">Pokemon de fuego
      </p>
      <a href="#" class="btn btn-primary">Eligeme</a>
    </section>
  </article>
  <article class="card" style="width: 18rem;">
    <img src="assets/img/squirtle.png" class="card-img-top" alt="...">
    <section class="card-body">
      <h5 class="card-title">Squirtle</h5>
      <p class="card-text">Pokemon de agua
      </p>
      <a href="#" class="btn btn-primary">Eligeme</a>
    </section>
  </article>
  <article class="card" style="width: 18rem;">
    <img src="assets/img/pikachu.png" class="card-img-top" alt="...">
    <section class="card-body">
      <h5 class="card-title">Pikachu</h5>
      <p class="card-text">Pokemon de electricidad
      </p>
      <a href="#" class="btn btn-primary">Eligeme</a>
    </section>
  </article>
  <article class="card" style="width: 18rem;">
    <img src="assets/img/bulbasaur.png" class="card-img-top" alt="...">
    <section class="card-body">
      <h5 class="card-title">Bulbasaur</h5>
      <p class="card-text">Pokemon de hoja
      </p>
      <a href="#" class="btn btn-primary">Eligeme</a>
    </section>
  </article>
</div>
