<nav class="filtros">
  <form>
    <select name="categorias" class="filtros__categoria">
      <option value="">Tipo de Pokemon</option>
      <option value="torta">Agua</option>
      <option value="pie">Fuego</option>
      <option value="cheesecake">Electricidad</option>
      <option value="pastel">Hojas</option>
    </select>
    <h3 class="filtros__categoria">Región</h3>
    <ul class="filtros__lista">
      <li class="filtros__descripcion">
        <a href="#" class="filtros__enlace">Kanto</a>
      </li>
      <li class="filtros__descripcion">
        <a href="#" class="filtros__enlace">Joto</a>
      </li>
      <li class="filtros__descripcion">
        <a href="#" class="filtros__enlace">Hoenn</a>
      </li>
      <li class="filtros__descripcion">
        <a href="#" class="filtros__enlace">Sinnoh</a>
      </li>
    </ul>

  </form>
</nav>
